<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sittingtherestanding.ambition" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>Ambition</name>
	<description>
		Use math to reach the top of the world!
	</description>
	<author email="sittingtherestanding@gmail.com" href="http://www.sittingtherestanding.com">
		Sitting There Standing
	</author>

	<preference name="phonegap-version" value="3.5.0" />

	<preference name="orientation" value="portrait" />
	<preference name="disallowOverscroll" value="true" />
	<preference name="webviewbounce" value="false" />
	<preference name="EnableViewportScale" value="true" /> <!-- For retina -->

	<gap:plugin name="de.appplant.cordova.plugin.hidden-statusbar-overlay" />

	<icon src="icon.png" />
	<gap:splash src="splash.png" />

	<gap:splash gap:platform="ios" height="1136" src="res/screen/ios/screen-iphone-portrait-568h-2x.png" width="640" /> <!-- Needed to "enable" fullscreen on iPhone 5+ -->

	<access origin="*" />
</widget>
